@model FlightViewModel
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/home.css" asp-append-version="true" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
    />
    <title>Document</title>
  </head>
  <body>
    <div class="container">
      <form action="/Flight/SearchFlights" method="post">
        <div class="position-relative">
          <img
            src="~/img/Airplane.jpg"
            alt=""
            class="img-fluid d-none d-xl-block"
          />

          <div
            class="d-none d-xl-block position-absolute start-50 top-50 translate-middle"
          >
            <!-- <div>
              <form action="/Home/" method="post">
                <button type="submit" class="btn btn-danger fw-bold">
                  Flights
                </button>
                <button type="submit" class="btn btn-danger fw-bold">
                  Check in
                </button>
              </form>
            </div> -->
            <div
              class="rounded p-3 bg-cp"
              style="margin-bottom: 40%; width: 1080px"
            >
              <div class="d-flex align-items-center">
                <div class="form-check">
                  <input
                    type="radio"
                    class="form-check-input"
                    name="flexRadioDefault"
                    id="flexRadioDefault1"
                  />
                  <label
                    for="flexRadioDefault2"
                    class="form-check-label fw-bold fs-7"
                    >Return</label
                  >
                </div>
                <div class="form-check mx-2">
                  <input
                    type="radio"
                    class="form-check-input"
                    name="flexRadioDefault"
                    id="flexRadioDefault2"
                  />
                  <label
                    for="flexRadioDefault2"
                    class="form-check-label fw-bold fs-7"
                    >One Way</label
                  >
                </div>
              </div>
              <div class="d-flex align-items-center py-2">
                <div>
                  <label asp-for="From" class="form-label fw-bold fs-8 m-0"
                    >From</label>
                  

                  <select
                    class="form-select inp-height inp-width"
                    aria-label="Default select example"
                    asp-for="From"
                    id="from"
                  >
                    <option value="Ankara">Ankara</option>
                    <option value="Istanbul">Istanbul</option>
                    <option value="Denizli">Denizli</option>
                    <option value="Kırşehir">Kırşehir</option>
                  </select>

                 
                </div>

                <button
                  class="btn btn-white p-2 mt-3"
                  id="swapButton"
                  onclick="swapValues()"
                >
                  <i class="fa-solid fa-arrow-right-arrow-left"></i>
                </button>

                <div>
                  <label
                    asp-for="To"
                    class="form-label fw-bold fs-8 m-0"
                    >To</label>
                  
                  <select
                    class="form-select inp-height inp-width"
                    aria-label="Default select example"
                    asp-for="To"
                    id="to">
                  
                    <option value="Ankara">Ankara</option>
                    <option value="Istanbul">Istanbul</option>
                    <option value="Denizli">Denizli</option>
                    <option value="Kırşehir">Kırşehir</option>
                  </select>
                  
                </div>

                <div>
                  <label for="" class="fw-bold fs-8">Depart</label>
                  <input
                    type="date"
                    name=""
                    id=""
                    class="form-control inp-height"
                    asp-for="Depart"
                  />
                </div>

                <div>
                  <label for="" class="fw-bold fs-8">Return</label>
                  <input
                    type="date"
                    name=""
                    id=""
                    class="form-control inp-height"
                    asp-for="Return"
                  />
                </div>

                <div>
                  <label for="" class="fw-bold fs-8">Guest</label>
                  <select
                    class="form-select inp-height inp-width"
                    aria-label="Default select example"
                    asp-for="Guest"
                  >
                    <option selected value="" value="1">Adult</option>
                    <option value="2">Child(2-12 age)</option>
                    <option value="3">Infant(0-2 age)</option>
                  </select>
                </div>
              </div>

              <div class="d-flex align-items-center justify-content-between">
                <button type="submit" class="btn btn-danger fw-bold fs-8">
                  Search Flights
                </button>
                <div>
                  <div class="form-check form-check-inline">
                    <!-- <input type="checkbox" class="form-check-input" value="" id="flexCheckDefault" checked>
                                <label for="flexCheckDefault " class="form-check-label fw-bold fs-8">Add nearby airports</label> -->
                  </div>

                  <!-- <div class="form-check form-check-inline ms-5">
                                <input type="checkbox" class="form-check-input" value="" id="flexCheckDefault">
                                <label for="flexCheckDefault" class="form-check-label fw-bold fs-8">Add nearby airports</label>
                            </div>

                            <div class="form-check ">
                                <input type="checkbox" class="form-check-input" value="" id="flexCheckDefault">
                                <label for="flexCheckDefault" class="form-check-label fw-bold fs-8">Direct flights only</label>
                            </div> -->
                </div>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>

    <div class="d-block d-xl-none rounded-2 bg-cp py-3 px-3">
      <div class="d-flex align-items-center py-2">
        <div class="form-check">
          <input
            type="radio"
            class="form-check-input"
            name="flexRadioDefault"
            id="flexRadioDefault1"
          />
          <label for="flexRadioDefault2" class="form-check-label fw-bold fs-7"
            >Return</label
          >
        </div>
        <div class="form-check mx-2">
          <input
            type="radio"
            class="form-check-input"
            name="flexRadioDefault"
            id="flexRadioDefault2"
          />
          <label for="flexRadioDefault2" class="form-check-label fw-bold fs-7"
            >One Way</label
          >
        </div>
      </div>

      <div>
        <label for="exampleDataList" class="form-label fw-bold fs-8 m-0"
          >To</label
        >
        <input class="form-control" list="datalistOptions" id="to" />
        <datalist id="datalistOptions">
          <option value="Istanbul"></option>
          <option value="Ankara"></option>
          <option value="Sakarya"></option>
          <option value="Kirsehir"></option>
        </datalist>
      </div>

      <!-- <div class="form-check py-2 ">
            <input type="checkbox" class="form-check-input" value="" id="flexCheckDefault" checked>
            <label for="flexCheckDefault" class="form-check-label fw-bold fs-8">Add nearby airports </label>
        </div> -->
      <button
        class="btn btn-white p-2 mt-3"
        id="swapButton"
        onclick="swapValues()"
      >
        <i class="fa-solid fa-arrow-right-arrow-left"></i>
      </button>

      <div>
        <label for="exampleDataList" class="form-label fw-bold fs-8 m-0"
          >From</label
        >
        <input class="form-control" list="datalistOptions" id="from" />
        <datalist id="datalistOptions">
          <option value="Istanbul"></option>
          <option value="Ankara"></option>
          <option value="Sakarya"></option>
          <option value="Kirsehir"></option>
        </datalist>
      </div>

      <!-- <div class="form-check py-2 ">
            <input type="checkbox" class="form-check-input" value="" id="flexCheckDefault" >
            <label for="flexCheckDefault" class="form-check-label fw-bold fs-8">Add nearby airports </label>
        </div> -->

      <div class="d-flex align-items-center justify-content-between">
        <div>
          <label for="" class="fw-bold fs-8 date-wid">Depart</label>
          <input type="date" name="" id="" class="form-control inp-height" />
        </div>

        <div>
          <label for="" class="fw-bold fs-8">Return</label>
          <input type="date" name="" id="" class="form-control inp-height" />
        </div>
      </div>

      <div class="py-2">
        <div>
          <label for="" class="fw-bold fs-8">Guest</label>
          <select class="form-select" aria-label="Default select example">
            <option selected value="">Open this select menu</option>
            <option value="1">One</option>
            <option value="2">Two</option>
            <option value="3">Three</option>
          </select>
        </div>
        <!-- <div class="form-check py-2 ">
                <input type="checkbox" class="form-check-input" value="" id="flexCheckDefault" >
                <label for="flexCheckDefault" class="form-check-label fw-bold fs-8">Directs flights only </label>
            </div> -->
        <div class="py-3">
          <div class="btn btn-danger fw-bold form-control">Search Flights</div>
        </div>
      </div>
    </div>

    <script>
      function swapValues() {
        var from = document.getElementById("from").value;
        var to = document.getElementById("to").value;

        document.getElementById("from").value = to;
        document.getElementById("to").value = from;
      }
    </script>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
  </body>
</html>
