.bg-cp{
    background-color: #a5c9ec;
}
.fs-7
{
    font-size: 15px;
}
.fs-8{
    font-size: 13px;
}
.inp-width
{
    width: 240px;
}
.inp-height
{
    height: 52px;
}
.date-wid
{
    width: 220px;
}
html {
    height: 100%;
   
}

body {
    margin: 0; /* Tarayıcı kenar boşluklarını kaldırır */
    padding: 0; /* Tarayıcı paddinglerini kaldırır */
    background: url('../img/Airplane.webp') no-repeat center center fixed; 
    background-size: cover; /* Resmi kaplayacak şekilde boyutlandırır */
    height: 100%;
}