.bg-cp{
    background-color: #d3d6db;
}
.fs-7
{
    font-size: 15px;
}
.fs-8{
    font-size: 13px;
}
.inp-width
{
    width: 252px;
}
.inp-height
{
    height: 52px;
}
.date-wid
{
    width: 220px;
}